<div class="forms">
  <%= form_for @profile, :html => { :method => 'put', :multipart => true } do |f| %>
    <%= errors_for(@profile, t('errors.changes_not_saved')) %>
    <table class="loginTBL">
    <%= render 'profiles/userpic_edit', :user => @profile.user, :f => f %>
    <%= render 'profiles/name', :f => f %>
    <%= render 'profiles/level', :f => f %>

    <tr>
      <td></td>
      <td>
        <div class="check"><%= f.check_box :subscribed_for_comments %><%= f.label :subscribed_for_comments, t('profile.subscribed_for_comments') %></div>
      </td>
    </tr>

    <tr>
      <td></td>
      <td class="save">
        <button type="submit"><span><span><%= t('common.update') %></span></span></button>
      </td>
    </tr>
    </table>
  <% end %>
</div>
