<div class="to_comment">
  <div class="upic">
    <%= image_tag userpic_url(current_user, 49) %>
  </div>
    <div>
      <%= form_for [comment.article, comment], :remote => true do |f| %>
      <div><%= errors_for comment %></div>
      <div><%= f.text_area :body %></div>
      <div><%= f.submit "Leave a comment" %></div>
      <% end %>
    </div>
</div>
