<div id='<%= dom_id show %>'>
  <hr/>
  <div>
    <b><%= link_to show.user.profile.full_name, "mailto:#{ show.user.email }" %></b>
    <%= distance_of_time_in_words_to_now(show.created_at) %> ago write:
    <% if can(:remove_comment, show) %>
    <%= link_to "Delete", show, method: :delete ,  confirm: 'Are you sure?', :remote => true %>
    <% end %>
  </div>
  <div>
    <%= link_to_if can(:change_comment, show), show.body, edit_comment_path(show), remote: true, title: "click for edit" %>
  </div>
</div>
