<tr>
  <td>
    <%= link_to "#{ user.profile.full_name }", profile_path(user.profile) %>
    <%= "(Attention!!! This is you!)" if user == current_user %>
  </td>
  <td>
    <%= link_to user.email, "mailto:#{ user.email }" %>
  </td>
  <td>
  <%= div_for user, :class => "link_to_admin" do %>
    <%= link_to_if(can?(:update, user), link_to_admin_title(user), { :action => :change_admin_state, :id => user }) %>
  <% end %>
  </td>
</tr>
