<div class="participate">
  <%= widget_div do %>
    <h3><%= @meetup.topic %></h3>

    <div class="iteminfo">
      <span class="date"><%= l(@meetup.date_and_time, :format => :long) %></span>
    </div>
    <% if @meetup.description.size <= MeetupWidget::DESCRIPTION_LENGTH %>
       <p><%= @meetup.description %></p>
    <%
       else
        short_description = truncate(@meetup.description,
                                     :length => MeetupWidget::DESCRIPTION_LENGTH,
                                     :separator => ' ',
                                     :omission => MeetupWidget::DESCRIPTION_OMISSION)
        omission_pos = -(MeetupWidget::DESCRIPTION_OMISSION.size + 1)
        last_part = @meetup.description.gsub(short_description[0..omission_pos], '')
    %>
        <p>
          <%= short_description.html_safe %>
          <a href='#' id='meetup-read-more'><%= t 'general.more_information' %></a>
          <span id='meetup-description-full' style='display: none;'><%= last_part %></span>
        </p>
    <% end %>

    <% if @current_user %>
      <% if @is_participant %>
        <%= image_tag("you-participate.png", { :alt => t('meetup.registered'), :title => t('meetup.registered') }) %>
      <% else %>
        <%= link_to image_tag("btn_participate.png", { :alt => t('meetup.attend_to'), :title => t('meetup.attend_to') }), url_for_event(:register), :remote => true, :class => 'attend_button' %>
      <% end %>
    <% else %>
      <%= t('meetup.signed_in_to_attend') %> <%= link_to t('users.login'), login_path %>
    <% end %>
  <% end %>

  <%= render :file => "app/views/application/_sharing_buttons.html.erb" %>
</div>

<%= javascript_include_tag 'meetup' %>
